body{
	background-image: url(https://coolbackgrounds.imgix.net/219VUMa1SOxASKqCE2OgT4/be1c810344587bd7f6f203337d23602a/ranger-4df6c1b6.png?w=3840&q=60&auto=format,compress);
}
.header{
	color:white;
	background-color: black;
	margin-top: 0px;
	width: 100%;
	height: 70px;
	position: absolute;
	top: 0px;
	left:0px;
	padding: 10px;
}
.navigation{
	display: block;
	margin-top: 100px;
	margin-left: 800px;
	font-size: 30px;
	border-radius: 8px;
	position: sticky;
	top: 1px;
	
}
.navigation b{	background-color: #458BE6;
	padding:7px;
	border-radius: 5px;
	
}
.navigation a{
	text-decoration: none;
	color: inherit;
}

.navigation b:hover{
	color:green;
	background-color: black;
}

a{
	text-decoration: none;
	alink:;
}
.heading{
	text-align: center;
	color: green;
	font-size: 50px;
	font-family: times new roman;
}
.form{
	/*border: 2px solid black;*/
	float: center;
	margin: auto;
	width: 600px;
}

form{
	
	/*border: 2px solid black;*/
	margin:100px 40px;


}
.input{
	block-size: 50px;
	inline-size: 400px;
	padding:5px;
	border: 4px solid yellow;
	margin-top: 5px;
	font-size: 20px;
	border-radius: 15px;
	margin-top: 10px;
}
.button{
	display: block;
	background-color: yellow;
	color:black;
	block-size: 50px;
	inline-size: 400px;
	font-size: 40px;
	text-align: center;
	border-radius: 15px;
	margin-left: 20px;
	margin-top: 10px;
	font-style: bold;
	font-weight: 60px;
	padding: 10px;
	/*font-family: arial;*/
}
.area{
	text-align: center;
	font-weight: 100px;
	font-size: 50px;
	font-family: Anton SC;
	margin-top: 200px;
}
.footer{
	heigth:5%;
	width: 100%;
	background-color: navy;
	text-align: center;
	color:white;
	position: fixed;
	bottom:0px;

}
