body{
	margin: 0;
	background-repeat: no-repeat;
	background-size: 1450px;
	
}

.header{

	border:1px solid black;
	background-color: black;
	height: 80px;
	margin-bottom: 20px;
}
.header h1{
	color: white;
}
.header p{
	display:inline;
}
#wheel{
	color:green;
	font-size:35px;
	font-family: 'Kavoon';	
}
.navigation{

	float: right;
	margin-right: 30px;
	font-size: 20px;
	position: sticky;
	top: 1px;
	
}
.navigation b{	
	background-color: black;
	color: white;
	padding:7px;
	border-radius: 15px;
	
}
.navigation a{
	text-decoration: none;
	color: inherit;
}

.navigation b:hover{
	color:green;
	background-color: black;
}

a{
	text-decoration: none;
	alink:;
}
.heading{
	text-align: center;
	/*color: green;*/
	font-size: 50px;
	margin-left: 190px;
	 /*font-family: 'Notable';*/
	font-family: 'Almendra';

	
}
#backtext{

	font-size:50px;
	font-family: 'Kavoon';	
	opacity:0.3;
	position: fixed;
	margin-left: 10px;
	
}
.form{
	
	float: center;
	margin: auto;
	width: 600px;
}

form{
	
	/*border: 2px solid black;*/
	margin:100px 40px;


}
.input{
	block-size: 50px;
	inline-size: 400px;
	padding:5px;
	border: 4px solid yellow;	
	margin-top: 5px;
	font-size: 20px;
	border-radius: 15px;
	margin-top: 10px;
	transition: border 0.2s;
}
.input:focus{
	outline: none;
	border:4px solid green;
}
#button{
	display: block;
	background-color: yellow;
	color:black;
	block-size: 50px;
	inline-size: 400px;
	font-size: 40px;
	text-align: center;
	border-radius: 15px;
	margin-left: 20px;
	margin-top: 10px;
	font-style: bold;
	font-weight: 60px;
	font-family: 'Bigshot One';
	padding: 10px;
	
}

#button:active {
    transform: scale(0.95);
    
}

.area{
	text-align: center;
	font-weight: 100px;
	font-size: 50px;
	font-family: Anton SC;
	margin-top: 200px;
}
.footer{
	heigth:5%;
	width: 100%;
	background-color: navy;
	text-align: center;
	color:white;
	position: fixed;
	bottom:0px;

}
