.navigation{
	
	margin-left: 900px;
	font-size: 30px;
	margin-right: 20px;
	border-radius: 8px;
	
}
b{	background-color: #663399;
	padding:7px;
	border-radius: 5px;
}
.q{
	font-size: 50px;
	text-align: center;
	color:gray;
	font-family: cursive;
}
.area{
	text-align: center;
	font-weight: 100px;
	font-size: 50px;
	font-family: georgia;
}