body{
	margin:0;
}
.head{
	width: 100%;
	height: 50px;
	padding:5px;
	background-color: black;
	display: flex;
	position: sticky;
	color: white;
	top: 0px;
	z-index: 1;
}
.head h1{
	margin-top: 0px;

}

#b{
	font-size: 40px;
	color: green;
}
.head ul{
	font-size: 20px;
	margin-left: 400px;
}
.head ul li{
	font-family: 'Acme';
	list-style-type: none;
	display: inline;
	padding: 5px;
	border-radius: 10px;
} 	
.head ul li:hover{
	color: green;
}

	

a{	
  color: inherit;
  text-decoration: none;
}
@keyframes slide{
	from{
		transform: translateX(1000px);
	}
	to{
		transform: translateX(0px);
	}
}
#img{
	animation-name: slide;
	animation-duration: 3s;
	animation-iteration-count:1;
	animation-timing-function: ease;
}
@keyframes opacity{
	to{

		opacity: 1;
		
	}
}
.q{
	
	font-size: 60px;
	text-align: center;
	color:black;
	font-family:'Bayon';
	padding-top: 100px;
	opacity: 0;
	animation-name: opacity;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-delay: 2s;
	animation-fill-mode: forwards;
	ani
}
.area{
	
	text-align: center;
	font-style:bold;
	font-size: 45px;
	border-radius: 40px;
	font-family: Anton SC;
	margin-top:50px;
	
}
.area p{
	padding: 0px;
}
#img{
	float: left;
}
.img{
	margin-top: 200px;
	margin-left: 130px;
	border-radius: 50px;
	width:80%;
	padding: 10px;
	background-color: black;
	border:1px solid white;
	
}
.img img{
	height: 200px;
	width: 200px;
	padding: 5px;
	margin-left:100px;
	border:3px solid ;
	border-radius: 50px ;
	float: left;

	
}
.para{
		color: white;
		display: flex;	
		font-size:70px;
		font-family:'Bangers';
		font-weight: 100px;
		padding-left: 200px;
	}

.serv{
	
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 100px	;
	font-family: Agbalumo;


}
.serv img{
	
	width: 190px;
	height: 150px;
	border-radius: 30px;
	border:1px solid ;
	
}
.serv h1{

	font-size: 50px;
	margin:auto;
	
}
.serv-img{
	margin-top: 50px;
	padding:10px;
}
.veh-img{
	
	flex-direction: column;
	float: left;
	margin: 10px;
	align-content: center;

}
.veh-img p{
	/*color: green;*/
	text-align: center;
	font-size: 1.5rem;
	padding: 0px;
	font-family: Amiko;
	font-style: bold;
	
}
#about{
	padding-left:50px;
	display: block;
	margin-left: 20px;
	margin-top: 100px;
	color:green;
	font-size: 45px;
	font-family:'Bayon';
	

}
.about{

	color:white;
	block-size: 400px;
	background-color: black;
	width:100%;
	position: sticky;
	bottom: opx;
}
.about h1{
	padding-top: 30px;
	margin-left: 100px;
}
.about p{
	margin-left: 200px;
	font-family: Amiko;
}
.up-nav{
	height: 8%;
	width: 4%;
	position: fixed;
	bottom:20px;
	right: 0px;
	z-index: 1;
}
.footer{
	heigth:5%;
	width: 100%;
	background-color: navy;
	text-align: center;
	color:white;
	position: fixed;
	bottom:0px;
	left:0px;

}
