.navigation{
	
	margin-left: 700px;
	font-size: 30px;
	margin-right: 20px;
	border-radius: 8px;
	position: sticky;
	top: 1px;
	
}
.navigation b{	background-color: #458BE6;
	padding:7px;
	border-radius: 5px;
	

}
.q{
	font-size: 50px;
	text-align: center;
	color:gray;
	font-family: cursive;
	padding-top: 100px;
}
.area{
	text-align: center;
	font-weight: 100px;
	font-size: 50px;
	font-family: georgia;
	margin-top: 200px;
}
.img{
	
	margin-left: 100px;
	float: left;
}
.img img{
	border-radius: 50px;
}
.para{
	font-size:70px;
	font-family: times new roman;
	font-weight: 100px;
	margin-left: 600px;
	margin-top: 200px;
}
.footer{
	heigth:5%;
	width: 100%;
	background-color: navy;
	text-align: center;
	color:white;
	position: fixed;
	bottom:0px;

}
